# Gradle
.gradle/
build/
**/build/

# Kotlin
.kotlin/

# IDEs
.idea/
*.iml
.vscode/
local.properties

# macOS
.DS_Store

# Xcode (por si se agregan proyectos de ejemplo iOS)
xcuserdata/
*.xcworkspace/xcshareddata/swiftpm/
